.my-form {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  .my-form input {
    display: inline-block;
  }
}
.label-description {
  display: block;
}
.select {
  padding: 10px;
  border: 2px solid rgba(56, 133, 89, 0.668);
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 5px;
  width: 25%;
  min-width: 400px;
  box-sizing: border-box;
  font-size: 1.5vw;
  &::placeholder {
    color: var(--secondary-color);
    font-size: 1.5vw;
  }
  &:hover {
    background-color: rgba(195, 233, 211, 0.668);
  }
}
.title {
  color: var(--green);
  text-align: center;
  font-size: 2.5vw;
}
.close {
  position: absolute;
  left: 95%;
  top: 0%;
  display: inline;
  color: white;
  background-color: rgba(56, 133, 89, 0.668);
  font-weight: bold;
  font-size: 2vw;
  cursor: pointer;
  border: 1px solid;
  padding: 0px 10px;
  &:hover {
    color: rgb(32, 105, 189);
  }
}
.green-button {
  background-color: rgba(56, 133, 89, 0.668);
  color: white;
  margin-top: 5%;
}
