.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 2%;
  align-items: center;
}
.navbar__tab {
  padding: 1% 2%;
  border-radius: 5px;
  font-size: 1.5vw;
  background-color: rgba(56, 133, 89, 0.668);
  color: white;
  height: 10%;
  cursor: pointer;
}
.navbar__title {
  color: rgba(56, 133, 89, 0.668);
  font-size: 3vw;
  margin: 0;
}
.active {
  border-bottom: 3px solid rgb(178, 223, 14);
  padding-bottom: 5px;
}

.pending {
  color: rgba(56, 133, 89, 0.668);
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}
