:root {
  --primary-color: rgb(217, 236, 236);
  --secondary-color: rgb(173, 191, 205);
  --green: rgba(56, 133, 89, 0.668);
  box-sizing: border-box;
}

.main-container {
  margin-left: 10%;
  margin-right: 10%;
}
body {
  background-color: rgba(234, 243, 217, 0.267);
}
